

.metadata/**
**/.metadata/**
**/CMakeFiles/**
build/**
build_android/assets/*
build_android/res/raw/*
AndroidBuild/external/boost/**
AndroidBuild/obj/**
AndroidBuild/libs/**
AndroidBuild/bin/**
*~
**/CTestTestfile.cmake

images/*.jpg
images/*.JPG
images/*.png
assets/tmpout/
*.blend1
*.blend2
build_android/bin/
build_android/gen/
build_android/libs/
build_android/obj/
src/.settings/org.eclipse.ltk.core.refactoring.prefs
src/.pydevproject
